{% extends "base.html" %}
{% block page_title %}Details{% endblock page_title %}


<script>
   window.onload = function () {
  // Get all the elements that match the selector as arrays
  var copyTextBtn = Array.prototype.slice.call(document.querySelectorAll('.js-textcopybtn'));
  var copyText = Array.prototype.slice.call(document.querySelectorAll('.js-copytext'));
  var tooltip = Array.prototype.slice.call(document.querySelectorAll('.tooltiptext'));
  tooltip.innerHTML = "Copied: " + copyText.value;

  // Loop through the button array and set up event handlers for each element
  copyTextBtn.forEach(function(btn, idx){

    btn.addEventListener("click", function(){

      // Get the text who's index matches the index of the button
      copyText[idx].select();
      tooltip[idx].innerHTML = "Copied: " + copyText[idx].value;

      try {
        var msg = document.execCommand('copy') ? 'successful' : 'unsuccessful';
        console.log('Copying text command was ' + msg);
      } catch (err) {
        console.log('Whoops, unable to copy');
      }

    });
      btn.addEventListener("mouseout", function(){

         tooltip[idx].innerHTML = "Copy to clipboard";

    });

  });
}
    </script>
{% block meta_tags %}
<meta name="dcterms.language" content="en" />
<meta name="dcterms.title" content="Phani Nuthaky" />
<meta name="dcterms.description" content="I am Phani Nuthaky. Software Engineer by Passion, with a focus on web development and testing." />
<meta name="description" content="I am Phani Nuthaky. Software Engineer by passion, with a focus on web development." />
<meta name="keywords" content="Phani Nuthaky, Interactive Resume, Software engineer, Python programmer, Python, Django, Web developer, Startup, CV, Resume" />
{% endblock meta_tags %}
{% block css %}
<style>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
<style>
#details {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#details td, #details th {
  border: 1px solid #ddd;
  padding: 8px;
}

#details tr:nth-child(even){background-color: #f2f2f2;}

#details tr:hover {background-color: #ddd;}

#details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
{% endblock css %}


{% block body %}
<table id="details" align="center">
<tbody>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;"><span>Legal Full Name</span></td>
<td width="498" valign="top" style="width: 363px; height: 25px;">
<input class="js-copytext" type="text" value="Phani Nuthaky" id="myInput1" readonly=True>
<div class="tooltip">
<span class="tooltiptext" id="myTooltip1">Copy to clipboard</span>
<button class="js-textcopybtn" >

  Copy text
  </button>
</div>
</tr>
<tr style="height: 25px;">
<td width="275" valign="top" style="width: 431px; height: 25px;">
<p class="m_5076739638852106816gmail-m_8270990486795308597gmail-m4612449685307991059gmail-m8625096463384248618xmsonormal"><span>Phone</span><u></u><u></u></p>
</td>
<td width="498" valign="top" style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="(224)-307-4595" id="myInput2" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip2">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;"><span>Email ID</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="phanin99@gmail.com" id="myInput3" readonly=True size=55>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip3">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td width="275" valign="top" style="width: 431px; height: 25px;">
<p class="m_5076739638852106816gmail-m_8270990486795308597gmail-m4612449685307991059gmail-m8625096463384248618xmsonormal"><span>Skype ID</span><u></u><u></u></p>
</td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="nuthakyphani" id="myInput4" readonly=True>
<div class="tooltip">
<span class="tooltiptext" id="myTooltip4">Copy to clipboard</span>
<button class="js-textcopybtn" >

  Copy text
  </button>
</div>
</td>
</tr>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;"><span>LinkedIn ID</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="https://www.linkedin.com/in/phani-nuthaky-26233a158/" id="myInput5" readonly=True size=55>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip5">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td width="228" style="width: 431px; height: 22px;">
<p>Passport No</p>
</td>
<td width="244" style="width: 363px; height: 22px;">
  <input class="js-copytext" type="text" value="N7974247" id="myInput6" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip6">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr>
<td style="width: 431px;"><span>Last 4 digits SSN</span></td>
<td style="width: 363px;">
  <input class="js-copytext" type="text" value="1876" id="myInput7" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip7">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;"><span>Current Location</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="Morrisville, NC" id="myInput8" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip8">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div></td>
</tr>
<tr>
<td style="min-width: 140px; width: 431px;"><span>Current Location Zip code<br /></span></td>
<td style="width: 363px;">
  <input class="js-copytext" type="text" value="27560" id="myInput9" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip9">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;"><span>Relocation (Yes/No)</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="Yes" id="myInput10" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip10">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;"><span>Visa Status</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="H1B" id="myInput11" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip11">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;"><span>Visa Expiry date</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="05/2020" id="myInput12" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip12">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div></td>
</tr>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;"><span>DOB</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="03/19" id="myInput13" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip13">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 431px; height: 25px;">Availability</td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="Immediate" id="myInput14" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip14">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td style="width: 431px; height: 25px;"><span>Best time to take interview call</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="3PM-5PM EDT" id="myInput15" readonly=True>
<div class="tooltip">
<span class="tooltiptext" id="myTooltip15">Copy to clipboard</span>
<button class="js-textcopybtn" >

  Copy text
  </button>
</div>
</td>
</tr>
<tr style="height: 25px;">
<td style="width: 431px; height: 25px;"><span>Total IT Experience</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="9 yrs" id="myInput16" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip16">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 431px; height: 25px;"><span>Relevant Experience</span></td>
<td style="width: 363px; height: 25px;">
  <input class="js-copytext" type="text" value="6 yrs" id="myInput17" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip17">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr>
<td style="width: 431px;"><span>Skill Set<br /></span></td>
<td style="width: 363px;">
  <input class="js-copytext" type="text" value="Selenium, Java, Python, UFT, TestNG" id="myInput18" readonly=True size=55>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip18">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr>
<td style="width: 431px;"><span>Graduation/Name of the University/ College &amp; Year<br /></span></td>
<td style="width: 363px;">
  <input class="js-copytext" type="text" value="JNTU Hyderabad, 2005" id="myInput19" readonly=True>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip19">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
<tr>
<td style="width: 431px;"><span>Masters/Name of the University/ College &amp; Year<br /></span></td>
<td style="width: 363px;">
  <input class="js-copytext" type="text" value="Lamar University, Beaumont, TX, 2010" id="myInput20" readonly=True size=55>
  <div class="tooltip">
  <span class="tooltiptext" id="myTooltip20">Copy to clipboard</span>
  <button class="js-textcopybtn" >

    Copy text
    </button>
  </div>
</td>
</tr>
</tbody>
</table>
{% endblock body %}
